<head>
<title>Haslo</title>
</head>
<body bgcolor="1212121">
    <form onsubmit="alert('Twoje hasło zostało wprowadzone')">       
        <input aria-required="true" data-val="true" id="Password" name="Password" type="password">
        <input type="submit" value="sprawdź">   
    </form>
</body>